<app-header></app-header>
<div class="container-fluid bg" style="background-image:url(assets/bg.jpg);">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6"><br><br>
            <p style="text-align: center;">
                <a routerLink="/insertdata"><button type="button" class="btn btn-primary">Fill Information</button></a>&nbsp;&nbsp;&nbsp;
                <a routerLink="/viewdata"><button type="button" class="btn btn-primary">View Information</button></a><br>
            </p>
        </div>
        <div class="col-md-3"></div>
    </div>
    <router-outlet></router-outlet>
</div>
<app-footer></app-footer>